body, html{
	font-family: 'Open Sans', sans-serif;
	color: #333;
	text-align: justify;
	height: 100%;
	background: url('../images/background.jpg');
}
.fltrt { 
	float: right;
}

.fltlt{
	float: left;
}

.container-fluid {
	padding-right: 0px; 
    padding-left: 0px; 
}

.cupcake_row {
	margin-top: 10px;
	/*height: 35px;*/
}
h1, h2, .btn {
	font-family: 'Pacifico', cursive;
	text-align:center;
}

h1{
	margin-bottom: 40px;
}

.btn {
	font-size: 25px;
	border: solid #d0d0d0 0.5px;
	padding: 10px;
	color: #333;
	border-radius: 0px;
	margin-top: 20px;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #f58674 /*8bc7b8 #c9e6d2*/;
    border-color: #adadad;
}

a:focus, button a:hover {
	color: #ffffff;
    text-decoration: none;
}

.navbar{
	background: none;
	border: none;
}

.navbar{
	display: flex;
	height:100px;
}
.navbar-brand{
	background: url('../images/logo.png');
	width: 200px;
	height: 70px;
	margin: 0 10px 0x 20px;
	
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.cupcakes{
	background-color: rgb(11, 174, 170);
	background: url('../images/pattern1.jpg');
	color: #ffffff;
	margin: 0 auto;

}
	
.photo1{
	background: url('../images/IMG_6847.jpg') no-repeat center fixed;
	width:100%;
	height:600px;
	-webkit-background-size: cover;
	}
.photo2{
	background: url('../images/IMG_6859.jpg') no-repeat center fixed;
	width:100%;	
	height:600px;
	-webkit-background-size: cover;
}
.photo3{
	background: url('../images/IMG_6947.jpg') no-repeat center fixed;
	width:100%;	
	height:600px;
	-webkit-background-size: cover;
}


.col-md-4{
	text-align: center;
}

.services, .cupcakes, .team, .contact{
	padding: 50px 0;
}

.services {
	color: rgb(11, 174, 170);
}

.services span{
	color: #333;
}

.cupcakes img {
	margin: 0px;
	width: 100%;
}

.services img{
	margin: 0 auto;
	width: 100px;
	display: block;
}

.cupcake{
	background:#ffffff;
	padding:0;
	margin: 0 15px;
	color: #333;
	
}

.cupcake p{
	padding: 15px;	
	min-height:150px;
	text-align: left;
}

.footer {
	/*background: rgb(245, 134, 116);*/
	background: #333;
	color: #ffffff;
	margin-top: 40px;
}
.footer a{
	color: white;
}
.img-circle{
	margin: 0 auto;
	display: block;
}
.footer h2{
	text-align: left;
}
	
.maya{
	background: url("../images/maya.jpg");
}

.natalie{
	background: url("../images/natalie.jpg");
}

.galerie {
	height: 100%;
	width:100%;
}

#contact{
	margin:0 auto;
	width: 1000px;
}

.button {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #333;
}

fieldset legend {
	font-family: 'Pacifico', cursive;
	font-size: 25px;
}

/*******************************GALERIE******************************************/

.cbp-rfgrid {
	margin: 35px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.cbp-rfgrid li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 16.6666667%; /* Fallback */
	width: -webkit-calc(100% / 6);
	width: calc(100% / 6);
}

.cbp-rfgrid li a,
.cbp-rfgrid li a img {
	display: block;
	width: 100%;
	cursor: pointer;
}

.cbp-rfgrid li a img {
	max-width: 100%;
}

/* Flexbox is used for centering the heading */
.cbp-rfgrid li a div {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(11,174,170,0.5); /************* couleur du hover galerie*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.cbp-rfgrid li a:hover div {
	opacity: 1;
}

.cbp-rfgrid li a div h3 {
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4em;
	letter-spacing: 2px;
	padding: 0 10px;
}

/* Example for media query: change number of items per row */

@media screen and (max-width: 1190px) {
	.cbp-rfgrid li {
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
}

@media screen and (max-width: 945px) {
	.cbp-rfgrid li {
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 660px) {
	.cbp-rfgrid li {
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 660px) {
	.cbp-rfgrid li {
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 400px) {
	.cbp-rfgrid li {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 300px) {
	.cbp-rfgrid li {
		width: 100%;
	}
}