body, html{
	font-family: 'Open Sans', sans-serif;
	color: #6d6e71;
	text-align: justify;
	height: 100%;
}

h1, h2, .btn {
	font-family: 'Pacifico', cursive;
	text-align:center;
}

h1{
	margin-bottom: 40px;
}

.btn {
	font-size: 25px;
	border: none;
	color: #6d6e71;
	border-radius: 0px;

}

.navbar-default .navbar-collapse {
    border-color: #ffffff;
	background-color: #ffffff;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar{
	display: flex;
}

.services {
	color: rgb(139, 199, 184);
}

.cupcakes{
	background-color: rgb(11, 174, 170);
	background: url(../images/pattern1.jpg);
	color: #ffffff;
	margin: 0 auto;

}

.slider {
	background: url("../images/Cupcakes-8.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	height:600px;
	width:100%;
}

.col-md-4{
	text-align: center;
}

.services, .cupcakes, .team, .contact{
	padding: 50px 0;
}


.cupcakes img {
	margin: 0px;
	width: 100%;
}

.services img{
	margin: 0 auto;
	width: 100px;
	display: block;
}

.cupcake{
	background:#ffffff;
	padding:0;
	margin: 0 15px;
	color: #6d6e71;
	
}

.cupcake p{
	padding: 15px;	
}

.footer {
	/*background: rgb(245, 134, 116);*/
	background: #6d6e71;
	color: #ffffff;
	margin-top: 40px;
}
.img-circle{
	margin: 0 auto;
	display: block;
}
.footer h2{
	text-align: left;
	
}
	
.maya{
	background: url("../images/maya.jpg");
}

.natalie{
	background: url("../images/natalie.jpg");
}


.galerie {
	height: 100%;
	width:100%;

}

#contact{
	margin:0 auto;
	width: 1000px;


}

